<header class="jumbotron hero-spacer">
            <h1>Hero Children</h1>
            <p>Prefeitura Municipal de São João da Boa Vista/SP<br><br>
            Setor de Educação<br><br>
            ADM 2013-2016</p><br>
            O Objetivo deste sistema é facilitar o cadastro dos alunos, o acompanhamento por parte dos responsáveis,
            auxiliar na organização e oferecer um local para centralização de informações.<br>

        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Algumas funcionalidades</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/spaintegrado2.png/" alt="">
                    <div class="caption">
                        <h3>Integrado</h3>
                        <p>Aqui você poderá encontrar os telefones, endereços e e-mails de outros setores.</p>
                        <p>
                            <a href="#" class="btn btn-success">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/02_01.jpg/" alt="">
                    <div class="caption">
                        <h3>Fácil de usar</h3>
                        <p>Cadastre, atualize e acompanhe a situação dos alunos cadastrados, de maneira eficiente.</p>
                        <p>
                            <a href="#" class="btn btn-success">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                <img src="images/spabloom.png/" alt="">
                    <div class="caption">
                        <h3>Multi-Local</h3>
                        <p>Acesse a plataforma online, de qualquer lugar, hora e em qualquer momento.</p>
                        <p>
                            <a href="#" class="btn btn-success">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="images/competencias.gif/" alt="">
                    <div class="caption">
                        <h3>Responsivo</h3>
                        <p>Use em todos seus dispositivos, tablets, celulares e computadores.</p>
                        <p>
                            <a href="#" class="btn btn-success">Saiba mais</a>
                        </p>
                    </div>
                </div>
              <br />
            </div>
